<% layout("/layouts/boilerplate") %>

<link rel="stylesheet" href="/css/new_listing.css">

<body>
    <div class="container form col-sm-12 col-md-10 col-lg-8">
        <h1>Edit Listing : <%= listing.title  %></h1>
    <form action="/listings/<%= listing._id %>?_method=PATCH" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="row">
            <div class="col-sm-12">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" class="form-control" name="ob[title]" value="<%= listing.title %>" placeholder="Enter Title" required>
                <div class="valid-feedback">Good title</div>
                <div class="invalid-feedback">Please enter relevent title</div>
            </div>
            <div class="col-sm-12">
                <label for="description" class="form-label">Description</label>
                <input type="text" id="description" class="form-control" name="ob[description]" value="<%= listing.description %>" placeholder="Enter Description" required>
            </div>
            <div class="col-sm-4">
                <label for="price" class="form-label">Price / night</label>
                <input type="text" id="price" class="form-control" name="ob[price]" pattern="[0-9]+" value="<%= listing.price %>" placeholder="Enter Price" required>
            </div>
            <div class="col-sm-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" id="country" class="form-control" name="ob[country]" value="<%= listing.country %>" placeholder="Enter Country" required>
            </div>
            <div class="col-sm-12">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" class="form-control" name="ob[location]" value="<%= listing.location %>" placeholder="Enter Location" required>
            </div>
            <div class="col-sm-12">
                <label for="image" class="form-label">Upload new Image</label>
                <input type="file" id="image" class="form-control" name="ob[image]"  >
            </div>
        </div>
        <button class="btn btn-success ">Submit</button>
    </div>
</body>
