<% layout("/layouts/boilerplate") %>

<link rel="stylesheet" href="/css/listings.css">
<body>
    <div class="row">
        <% for (let listing of listings){ %>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="/listings/<%= listing._id %>">
                    <div class="card">
                        <div class="img">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="..." >
                            <div class="shade"></div>
                        </div>
                        <div class="card-img-overlay">
                            <h4 class="card-title">
                                <%= listing.title %>
                            </h4>
                        </div>
                        <div class="card-body">
                          <p class="card-text" style="font-weight: 700; font-size: .9rem;"><%= listing.location %>, <%= listing.country %></p>
                          <p class="card-text"><%= listing.location %></p>
                          <p class="card-text" style="font-weight: 700;">&#8377;<%= listing.price.toLocaleString("en-in") %> /night</p>
                        </div>
                    </div>
                </a>
            </div>    
        <% } %>
    </div>


   
</body>
