<% layout("/layouts/boilerplate") %>

<link rel="stylesheet" href="/css/show_listing.css">

<body>
   <div class="show">
    <h1><%= listing.title %> </h1>
    
    <div class="img" style="background: url('<%= listing.image.url %>')"></div>
    <h5 class="location">Home stay in <%= listing.location %>, <%= listing.country %></h5>
    <p>16+ guests6 bedrooms7 beds6 bathrooms</p>
    <li> &#8377;<%= listing.price.toLocaleString("en-in") %></li>
    <li><%= listing.country %></li>
    <li><%= listing.location %></li>
    
    <% if (currUser && currUser._id.equals(listing.owner._id)){ %>
    <a class="btn btn-primary" href="/listings/<%= listing._id %>/edit">Edit</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" >
        <button class="btn btn-danger">Delete Listing</button>
    </form>
    <% } %>
    <% if (currUser){ %>
    <a class="btn btn-warning" href="/listings/<%= listing._id %>/review" >Review</a>
    <% } %>

    <div class="reviews">
        <h1>All Reviews</h1>
        <ul>
        <% for (let review of listing.reviews){ %>
            <li>
                <h4><%= review.rating %></h4>
                <h5><%= review.author.username %></h5>
                <p><%= review.comment %></p>
                <% if (currUser && currUser._id.equals(review.author._id)){ %>
                <form method="post" action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" >
                    <button>Delete</button>
                </form>
                <% } %>
            </li>
        <% } %>
        </ul>
    </div>
   </div>

</body>




